In [1]:
# Hello world 
print("Hello World")

Hello World

In [3]:
a = str(input("what is your name ?"))
print("Hi",a)

what is your name ?Rahul Chenna
Hi Rahul Chenna

In [4]:
type(a)

str

# SETS

In [18]:
set1=set("rahul")
set2=set("binnu")
print(set1)
print(set2)

{'h', 'r', 'u', 'l', 'a'}
{'u', 'b', 'i', 'n'}

In [24]:
set3={"rahul",8,"gupta","chenna",19,4,2004}
print(set3)

{'gupta', 19, 4, 2004, 8, 'chenna', 'rahul'}

In [25]:
set3.add(10)
set3.remove(8)
print(set3)

{'gupta', 19, 4, 2004, 10, 'chenna', 'rahul'}

In [30]:
set4 = set1|set2|set3
print(set4)
set5 = set1.union(set3)
print(set5)

{'h', 'r', 4, 'chenna', 'u', 10, 'i', 'gupta', 19, 2004, 'l', 'n', 'b', 'a', 'rahul'}
{'h', 'r', 4, 'chenna', 'u', 10, 'gupta', 19, 2004, 'l', 'a', 'rahul'}

In [32]:
print(set1&set2)
print(set1.intersection(set2))

{'u'}
{'u'}

In [34]:
print(set1-set2)
print(set1.difference(set2))

{'h', 'r', 'a', 'l'}
{'h', 'r', 'a', 'l'}

In [35]:
print(set1^set2)
print(set1.symmetric_difference(set2))

{'h', 'r', 'i', 'l', 'n', 'b', 'a'}
{'h', 'r', 'i', 'l', 'n', 'b', 'a'}

# DICTIONARY

In [98]:
d = {1:"rahul",2:"binnu"}
print(d.keys())
print(d.values())
print(d)
print(d[1],d[2])
d[3]="gupta"
print(d)

dict_keys([1, 2])
dict_values(['rahul', 'binnu'])
{1: 'rahul', 2: 'binnu'}
rahul binnu
{1: 'rahul', 2: 'binnu', 3: 'gupta'}

In [99]:
d.pop(1)
print(d)

{2: 'binnu', 3: 'gupta'}

# STRINGS

In [81]:
s = "chenna ,rahul, gupta"
b=(len(s))
print(b)

print(s.lower())
print(s.upper(),s.capitalize())
if "hu" in s:
    print("yes")
else:
    print("no")

p = (s.split(","))   #strings
print(p[1])  ##lists not have replace()
print(p)
print(s.replace(",",""))

20
chenna ,rahul, gupta
CHENNA ,RAHUL, GUPTA Chenna ,rahul, gupta
yes
rahul
['chenna ', 'rahul', ' gupta']
chenna rahul gupta

In [74]:
print(s[-18:])

enna ,rahul, gupta

# TUPLES | LISTS

In [84]:
TUPLES = ("rahul","chenna")
s= TUPLES[1] + " "+TUPLES[0]
print(s)

chenna rahul

In [86]:
t = ("rahul","gupta")
# t[1] = "chenna"   ##tuples are immutable

In [122]:
q = ("c","python","java","pascal","cobol","fortan", " c++","perl")
if "php" in q:
    print(True)
else:
    print(False)
len(q)
a = ("rahul")  #string
b = ("rahul",)  #tuple
print(type(a),"\n",type(b))

False
<class 'str'>
 <class 'tuple'>

In [2]:
l = ['rahul','gupta','chenna',19,4,2004]
print(l)
type(l)

['rahul', 'gupta', 'chenna', 19, 4, 2004]

list

In [9]:
l[2]= None
print(l)

['rahul', 'gupta', None, 'binnu', 'binnu', 19, 'chenna rahul gupta', 'chenna rahul gupta']

In [11]:
l.remove(19)
print(l)

['rahul', 'gupta', None, 'binnu', 'binnu', 'chenna rahul gupta', 'chenna rahul gupta']

In [5]:
l.append("chenna rahul gupta")
print(l)
l.insert(3,"binnu")
l.remove(4)
print(l)
l.index("rahul")
l.count("rahul")

['rahul', 'gupta', None, 'binnu', 19, 4, 2004, 'chenna rahul gupta', 'chenna rahul gupta']
['rahul', 'gupta', None, 'binnu', 'binnu', 19, 2004, 'chenna rahul gupta', 'chenna rahul gupta']

1

In [133]:
l.reverse()
print(l.reverse())

None

In [137]:
d = [1,3,2,4,5,6]
d.reverse()
print(d)
d.sort()
print(d)

[6, 5, 4, 2, 3, 1]
[1, 2, 3, 4, 5, 6]

In [146]:
 a = 123
type(a)
b=str(a)
c=float(a)
print(a,b,c)
type(b)

123 123 123.0
123

In [147]:
d=int(b)
print(d)

123

In [152]:
b='rahul'
for char in l:
    print(char)

rahul
gupta
binnu
19
4
2004
chenna rahul gupta

# FUNCTIONS

In [161]:
def names(a="rahul"):
    print("chenna rahul gupta")
    print(a)
    return True
(names())

chenna rahul gupta
rahul

True

In [162]:
names("binnu")

chenna rahul gupta
binnu

True

In [164]:
def a(x):
    return x*x
a(5)

25

# Prime Numbers

In [3]:
a = int(input("Enter number of primes : "))
def prime(a):
    for i in range (2,a):
        if a%i==0:
            return False
        else:
             return True
list =[2]
for i in range (3,a*a):
    if len(list)==a:
        continue
    if prime(i):
        list.append(i)

print(list)

Enter number of primes : 4
[2, 3, 5, 7]